@use '../../variables' as v;

.cart {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;

  @media (max-width: v.$tablet-portrait) {
    padding: 40px;
    flex-direction: column;
    gap: 0;
  }

  &__order-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
    margin-bottom: 40px;

    @media (max-width: v.$tablet-portrait) {
      flex-wrap: wrap;
      margin-bottom: 30px;
      gap: 20px;
    }
  }

  &__product-list {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);

    @media (max-width: v.$tablet-portrait) {
      gap: 20px;
    }
  }
}