.custom-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    & a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
    }

    &::before {
      content: "";
      display: block;
      background-image: url("../../../assets/icons/square.svg");
      width: 3px;
      height: 3px;
      background-color: rgba(68, 68, 68, 1);
    }

    &.active {
      list-style: none;
      color: rgba(255, 142, 142, 1);
    }

    &.sidebar-list {
      font-size: 16px;
    }
  }

  &.sidebar-list {
    margin: 0 0 0 20px;
  }

  &.sidebar-list .custom-list__item::before {
    width: 5px;
    height: 5px;
  }

  &.sidebar-list .custom-list__item.active::before {
    content: "";
    display: flex;
    width: 25px;
    height: 3px;
    background-color: rgba(255, 142, 142, 1);
    background-image: url("../../../assets/icons/small-row.svg");
  }
}
