@use '../../variables' as v;

.cart-product {
  display: flex;
  gap: 30px;
  position: relative;
  align-items: center;
  padding: 0 0 30px 0;
  border-bottom: 1px solid rgba(68, 68, 68, 10%);

  @media (max-width: v.$tablet-portrait) {
    gap: 20px;
  }

  &__photo {
    max-height: 140px;

    @media (max-width: v.$mobile-large) {
      display: none;
    }

    & img {
      max-height: 140px;
    }
  }

  &__product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

    @media (max-width: v.$tablet-portrait) {
      gap: 20px;
    }
  }

  &__title {
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    @media (max-width: v.$tablet-portrait) {
      gap: 20px;
    }
  }

  &__price-and-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 259px;
    width: 100%;

    @media (max-width: v.$tablet-portrait) {
      gap: 20px;
    }

    @media (max-width: v.$mobile-small) {
      justify-content: flex-start;
      max-width: 180px;
    }
  }

  &__quantity {
    background-color: rgba(248, 248, 251, 1);
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 17px 23px;
  }

  &__count {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  &__count-button {
    cursor: pointer;
    color: rgba(153, 153, 153, 1);
    font-size: 23px;
    font-weight: 500;
    line-height: 16px;
  }

  &__total-price {
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
  }

  &__price {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__current-price {
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
  }

  &__old-price {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    font-family: "Josefin Sans", serif;
    text-decoration: line-through;

    @media (max-width: v.$mobile-small) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8.5px;
    border: 1px solid rgba(68, 68, 68, 10%);
    color: rgba(68, 68, 68, 10%);
    cursor: pointer;
  }
}