.header {
  max-width: 1800px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;

  &__left-side {
    display: flex;
    gap: 65px;
    align-items: center;
    position: relative;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__right-side {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__auth-button {
    background-color: rgba(248, 248, 251, 1);
    height: 30px;
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon-counter {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__counter {
    min-width: 28px;
    text-align: center;
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 0 4px 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    & span {
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
      color: white;
    }
  }
}