.sidebar {
  max-width: 242px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__search {
    position: relative;

    &-row {
      padding: 0 20px 15px 0;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__colors {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
  }

  &__price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
