.sidebar {
  max-width: 242px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__colors {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
  }

  &__reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
