@use '../../variables' as v;

.footer {
  border-top: 20px solid rgba(238, 238, 238, 1);
  position: relative;

  @media (max-width: v.$tablet-portrait) {
    padding: 40px;
  }

  &__info {
    margin: 110px 0 90px 0;
    display: flex;

    @media (max-width: v.$tablet-portrait) {
      flex-wrap: wrap;
      gap: 50px;
      justify-content: flex-start;
    }

    &-column .about-brand {
      padding: 0 0 25px 0;
      border-bottom: 1px solid rgba(68, 68, 68, 20%);
      margin: 25px 0 35px 0;
    }

    &-column.column-1 {
      max-width: 331px;
      margin: 0 60px 0 0;

      @media (max-width: v.$tablet-portrait) {
        margin: 0 40px 30px 0;
        max-width: 335px;
        width: 100%;
      }
    }

    &-column.column-2,
    &-column.column-3 {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: v.$tablet-portrait) {
        margin: 0 40px 30px 0;
      }
    }

    &-column.column-2 {
      margin: 0 108px 0 0;
    }

    &-column.column-3 {
      margin: 0 74px 0 0;
      max-width: 119px;
      width: 100%;
    }

    &-column.column-2 .custom-list a,
    &-column.column-3 .custom-list a {
      text-decoration: none;
    }

    &-column.column-4 {
      max-width: 361px;

      @media (max-width: v.$tablet-portrait) {
        max-width: 335px;
        width: 100%;
      }

      & .title {
        margin: 0 0 16px 0;
      }

      & .newsletter-text {
        margin: 0 0 36px 0;
      }

      & .newsletter-form {
        position: relative;

        & .newsletter-email {
          padding: 0 30px 15px 0;
        }
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 1px solid rgba(68, 68, 68, 20%);
    padding-top: 23px;

    @media (max-width: v.$mobile-large) {
      flex-direction: column;
    }
  }

  &__payment-methods-container {
    display: flex;
    gap: 13px;
    align-items: center;
  }

  &__payment-methods {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}




