.custom-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;

    &::before {
      content: "";
      display: block;
      background-image: url("../../icons/square.svg");
      width: 3px;
      height: 3px;
    }

    &.active {
      color: rgba(255, 142, 142, 1);
      list-style: none;

      &::before {
        content: "";
        display: flex;
        width: 25px;
        height: 3px;
        background-image: url("../../icons/small-row.svg");
      }
    }
  }
}
